# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build directories
dist/
build/

# Dependency directories
jspm_packages/

# System files
.DS_Store
Thumbs.db

# Coverage directory
coverage/

# IDE files
.idea/
.vscode/

# Misc
*.tgz
